@()

@scripts = { 
<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.at("javascripts/ide-handle-form.js")" type="text/javascript"></script>
}

@main("Web Scala", scripts) {
  <h2>Web Scala</h2>
  <div id="prev-content" class="ace_editor ace-chrome"></div>
  <form id="code" method="post" action="./interpret">
    <div style="float: left; font-size: 18px;">&gt;  </div><div id="editor"></div>
  </form>
}