@*Needs fixing after file stuff works*@

@(bString: String, sString: String, directory: models.files.Directory, currPath: String)(implicit req: models.auth.VisitRequest[_])

@*@scripts = {<script src="@routes.Assets.at("javascripts/linkToTester.js")" type="text/javascript" charset="utf-8"></script>}

@main(sString + "'s Directory for " + bString, scripts) {
  <h1>@directory.title</h1>
  <ul class="unstyled">
    @for(item <- List(directory) {
      @item.asBlockFO(bString, sString, currPath)
    }
  </ul>
}*@