h3 {
  font-size: 20px;
}

.titleChoices {
  padding-left: 25px;
  padding-right: 50px;
}

.gray {
    background: #A0A0A0;
}

div#editor { 
    height: 72%;
    width: 99%;
    background: #FFFFFF;
    border-style: solid;
    border-width: 2px;
}

div#test {
   height: 72%;
   width: 99%;
   background: #FFFFFF;
   border-style: solid;
   border-width: 2px;
}

#test-form {
  display: none;
}

#saveTestButton {
  display: none;
}

#title2 {
  display: none;
}

#prev-content {
	padding-top:10px;
	font-size:18px;
	position:relative;
}

.hidden {
	display: none;
}
