@()(implicit req: models.auth.VisitRequest[_])

<form class="form-inline">
  <label id="title1" class="titleChoices">Content Editor</label>
  <label id="title2" class="titleChoices">Test Editor</label>
  <button id="enterInteractions" type="button" class="btn btn-small btn-primary">Interactions</button>
  <button id="saveButton" type="button" class="btn btn-small btn-success">Save</button>
  <button id="testButton" type="button" class="btn btn-small btn-warning">Run Tests</button>
  <button id="toggleTestButton" type="button" class="btn btn-small btn-info">Switch Editor</button>
</form>